@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: rgb(250, 100, 0);
    --color-primary-subtle: #FA640033;
    --color-grey: #707070;
    --color-dark-grey: #ebebeb;
    --radius-br-10: 0.65rem;
    --text-56: 3.5rem;
    --shadow-white: 4px 4px 10px 0 rgba(0, 0, 0, 0.15);
    --font-allison: "Allison", cursive;
}
body{font-family: 'Poppins', sans-serif;}
.main-container{max-width: 1860px; margin: auto;}
.link-active:after{content: ''; position: absolute; width: 100%; height: 2px; background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(250, 100, 0, 1) 0%, rgba(255, 255, 255, 1) 100%); left: 0; bottom: 0;}
[data-slot] {container-type: normal;}
.about-main{background: url("/src/assets/about_bg_img.png") no-repeat center center /cover;}
.footer-content .footer-logo-block{text-align: center;}
.footer-content .footer-content-block{justify-content: center;}